<!-- Carousel -->
<app-carousel [images]="images"></app-carousel>
<app-repeat-list [items]="games">
    <app-card *appRepeatListItem="let item">
        <img class="card-img-top" [src]="item.image" alt="">
        <h4 class="card-title">
            <a card-title href="#">Item One</a>
          </h4>
          <h5>23</h5>
          <p class="card-text">
            {{item.description | truncate:11 }}
          </p>
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </app-card>
</app-repeat-list>
