<div class="mt-4">
  <app-repeat-list [items]="games">
    <app-card *appRepeatListItem="let item">
      <img class="card-img-top" [src]="item.image" [alt]="item.title">
      <h4 class="card-title">
        <a card-title [routerLink]="item.id">{{item.title}}</a>
      </h4>
      <h5>{{item.price | currency:'EUR'}}</h5>
      <p class="card-text">
        {{item.description | truncate:200 }}
      </p>
      <small class="text-muted" [innerHTML]="item.rating | stars"></small>
    </app-card>
  </app-repeat-list>
</div>